@import "tailwindcss";
@import "leaflet/dist/leaflet.css";

@theme {
  --animate-shimmer: shimmer 6s infinite linear;
  @keyframes shimmer {
    0% { transform: translateX(-150%) skewX(-20deg); }
    60% { transform: translateX(250%) skewX(-20deg); }
    100% { transform: translateX(250%) skewX(-20deg); }
  }
}

.leaflet-control-attribution {
  display: none !important;
}

/* Prevent auto-zoom on mobile inputs */
@media screen and (max-width: 768px) {
  input, textarea, select {
    font-size: 16px !important;
  }
}
